<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification</title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/email_certification.css' />
</head>
<body>
    <div class="wrap">
        <div class="email_certification">
            <img src="/image/i_logo.png" alt="logo"/>
        </div>
        <h1>Welcome to Programmer Shop</h1>
        <h2>you can start using our service</h2>

    </div>
</body>
</html>